<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.blueamber.studentcalendar">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".StudentCalendarApp"
            android:allowBackup="true"
            android:icon="@drawable/ic_calendar"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_calendar"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity
                android:name=".ui.StudentCalendarActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="@string/app_name"
                android:screenOrientation="sensorPortrait"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <provider
                android:name=".domain.local.StudentCalendarProvider"
                android:authorities="com.blueamber.studentcalendar.provider"
                android:enabled="true"
                android:exported="true"/>

        <receiver android:name=".widget.StudentCalendarAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/student_calendar_app_widget_info"/>
        </receiver>

        <service android:name=".widget.StudentCalendarAppWidget$UpdateService"/>
        <service
                android:name=".widget.StudentCalendarWidgetService"
                android:exported="false"
                android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>
</manifest>